#projectModal {
  color: aliceblue;
}

.modal-content {
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(26,37,47);
  background: rgba(0, 0, 0, 0.8);
}

.modal-footer {
  margin-top: 15px;
  margin-bottom: -15px;
  border-color: rgb(26,37,47);
}

.modal-header {
  border-color: rgb(26,37,47);
}

.close {
  color: white;
  font-size: 26px;
}

.close:hover {
  color: gray;
}

.modal-title {
  font-size: 28px;
  margin-bottom: 0px;
}

#btn-modal {
  color: white;
  background-color: #48A9A6;
  border-color: black;
}

#btn-modal:hover {
  color: rgb(196, 196, 196);
  background-color: #3C887E;
  border-color: black;
}

