.jumbotron-header {
  color: aliceblue;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron {
  margin-bottom: 2rem;
  background-color: #ecf0f1;
  background-size: cover;
  background-position: center;
  height: 75%;
  border-radius: 0;
  margin-bottom: auto;
  outline: solid;
  outline-color: #1a252f;
}

.jumbotron-homepage {
  background: url(../../assets/img/background1.png) no-repeat;
}

.jumbotron-body {
  width: 500px;
  display: inline-block;
}

.profilepicture {
  width: 200px;
  border-radius: 50%;
}

@media (max-width: 575.98px) {
  .jumbotron-header {
    color: aliceblue;
    width: 300px;
    background-color: rgba(0,0,0,0.45);
    padding: 23px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 765px;
    width: 330px;
    border-style: solid;
    border-color: rgb(26,37,47);
  }
}

@media (max-width: 575.98px) {
  .jumbotron-header-contact {
    color: aliceblue;
    width: 300px;
    background-color: rgba(0,0,0,0.45);
    padding: 23px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 565px;
    width: 330px;
    border-style: solid;
    border-color: rgb(26,37,47);
  }
}

@media (max-width: 575.98px) {
  .jumbotron-header-contactlist {
    color: aliceblue;
    width: 300px;
    background-color: rgba(0,0,0,0.45);
    padding: 23px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 565px;
    width: 330px;
    border-style: solid;
    overflow: auto;
    border-color: rgb(26,37,47);
  }
}

@media (max-width: 575.98px) {
  .jumbotron-title2 {
    margin-top: 35px;
    margin-bottom: -10px;
  }
}

@media (max-width: 575.98px) {
  .jumbotron-body {
    width: 300px;
    height: 75px;
    margin-bottom: 35px;
  }
}

@media (max-width: 575.98px) {
  .profilepicture {
    margin-left: auto;
    margin-right: auto;
    width: 170px;
    display: block;
    margin-top: -14px;
  }
}

@media (max-width: 575.98px) {
  .jumbotron-homepage {
    border-radius: 0;
    margin-bottom: auto;
    outline: solid;
    outline-color: #1a252f;
    background: url(../../assets/img/background1.png) no-repeat;
    background-position: right center;
  }
}

@media (max-width: 575.98px) {
  .jumbotron-title {
    width: 100%;
    font-size: xx-large;
    margin-bottom: 30px;
    display: inline-block;
  }
}

@media (max-width: 575.98px) {
  .jumbotron-contact-phone {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.45);
    padding: 23px;
    border-radius: 10px;
    margin-top: 40px;
    height: 45px;
    width: 330px;
    border-style: solid;
    border-color: rgb(26,37,47);
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .jumbotron-header {
    background-color: rgba(0,0,0,0.45);
    padding: 23px;
    border-radius: 10px;
    height: 760px;
    width: 490px;
    border-style: solid;
    border-color: rgb(26,37,47);
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .jumbotron-header-contact {
    background-color: rgba(0,0,0,0.45);
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    padding: 23px;
    border-radius: 10px;
    height: 550px;
    width: 490px;
    border-style: solid;
    border-color: rgb(26,37,47);
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .jumbotron-header-contactlist {
    background-color: rgba(0,0,0,0.45);
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    padding: 23px;
    border-radius: 10px;
    height: 570px;
    width: 520px;
    border-style: solid;
    border-color: rgb(26,37,47);
    overflow: auto;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .jumbotron-title2 {
    font-size: 22px;
    margin-top: 14px;
    margin-bottom: -15px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .jumbotron-body {
    width: 450px;
    display: inline-block;
    color: aliceblue;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .profilepicture {
    margin-left: auto;
    margin-right: auto;
    width: 185px;
    display: block;
    margin-top: 0px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .jumbotron-homepage {
    background-position: right;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .jumbotron-title {
    width: 100%;
    margin-bottom: 30px;
    display: inline-block;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .jumbotron-contact-phone {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.45);
    padding: 23px;
    border-radius: 10px;
    margin-top: 30px;
    height: 45px;
    width: 490px;
    border-style: solid;
    border-color: rgb(26,37,47);
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .jumbotron-header {
    background-color: rgba(0,0,0,0.45);
    padding: 23px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    height: 660px;
    width: 645px;
    border-style: solid;
    border-color: rgb(26,37,47);
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .jumbotron-header-contactlist {
    background-color: rgba(0,0,0,0.45);
    padding: 23px;
    border-radius: 10px;
    margin-top: -50px;
    margin-left: -26px;
    margin-right: auto;
    height: 625px;
    width: 645px;
    border-style: solid;
    border-color: rgb(26,37,47);
    overflow: auto;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .jumbotron-header-contact {
    background-color: rgba(0,0,0,0.45);
    padding: 23px;
    border-radius: 10px;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    height: 575px;
    width: 645px;
    border-style: solid;
    border-color: rgb(26,37,47);
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .jumbotron {
    padding: 80px;
    margin-bottom: 2rem;
    background-color: #ecf0f1;
    background-size: cover;
    background-position: center;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .jumbotron-homepage {
    background-position: right;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .jumbotron-body {
    width: 600px;
    margin-top: 20px;
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .profilepicture {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    display: block;
    margin-top: 8px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .jumbotron-title2 {
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: -5px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .jumbotron-contact-phone {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.45);
    padding: 23px;
    border-radius: 10px;
    margin-top: 50px;
    height: 55px;
    width: 645px;
    border-style: solid;
    border-color: rgb(26,37,47);
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .jumbotron-title {
    font-size: 44px;
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .jumbotron-body {
    width: 690px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .profilepicture {
    margin-left: auto;
    margin-right: auto;
    width: 208px;
    display: block;
    margin-top: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .jumbotron-homepage {
    height: 1000px;
    background-position: right center;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .jumbotron-header {
    background-color: rgba(0,0,0,0.45);
    padding: 23px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    height: 710px;
    width: 80%;
    border-style: solid;
    border-color: rgb(26,37,47);
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .jumbotron-header-contact {
    background-color: rgba(0,0,0,0.45);
    padding: 23px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    height: 595px;
    width: 737px;
    border-style: solid;
    border-color: rgb(26,37,47);
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .jumbotron-header-contactlist {
    background-color: rgba(0,0,0,0.45);
    padding: 23px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    height: 695px;
    width: 737px;
    border-style: solid;
    border-color: rgb(26,37,47);
    overflow: auto;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .jumbotron-title2 {
    margin-top: 30px;
    font-size: 26px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .jumbotron-contact-phone {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.45);
    padding: 23px;
    border-radius: 10px;
    margin-top: 30px;
    height: 55px;
    width: 737px;
    border-style: solid;
    border-color: rgb(26,37,47);
  }
}

@media (min-width: 1200px) {
  .jumbotron-header {
    background-color: rgba(0,0,0,0.45);
    padding: 23px;
    border-radius: 10px;
    margin-top: -10px;
    height: 745px;
    width: 900px;
    border-style: solid;
    border-color: rgb(26,37,47);
  }
}

@media (min-width: 1200px) {
  .jumbotron-header-contact {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.45);
    padding: 23px;
    border-radius: 10px;
    margin-top: -10px;
    height: 650px;
    width: 900px;
    border-style: solid;
    border-color: rgb(26,37,47);
  }
}

@media (min-width: 1200px) {
  .jumbotron-header-contactlist {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.45);
    padding: 23px;
    border-radius: 10px;
    margin-top: -10px;
    height: 650px;
    width: 900px;
    border-style: solid;
    border-color: rgb(26,37,47);
    overflow: auto;
  }
}

@media (min-width: 1200px) {
  .jumbotron-contact-phone {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.45);
    padding: 23px;
    border-radius: 10px;
    margin-top: 40px;
    height: 55px;
    width: 900px;
    border-style: solid;
    border-color: rgb(26,37,47);
  }
}

@media (min-width: 1200px) {
  .jumbotron-title {
    font-size: 52px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .jumbotron-body {
    font-size: 19px;
    width: 850px;
  }
}

@media (min-width: 1200px) {
  .jumbotron-homepage {
    height: 1050px;
    background-position: right;
    background-size: cover;
  }
}

@media (min-width: 1200px) {
  .jumbotron-title2 {
    margin-top: 30px;
    font-size: 23px;
  }
}

@media (min-width: 1200px) {
  .profilepicture {
    margin-left: auto;
    margin-right: auto;
    width: 228px;
    display: block;
    margin-top: 15px;
  }
}

.jumbotron-portfolio {
  background: url(../../assets/img/background3.png) no-repeat;
}

@media (max-width: 575.98px) {
  .jumbotron-portfolio {
    border-radius: 0;
    margin-bottom: auto;
    outline: solid;
    outline-color: #1a252f;
    background: url(../../assets/img/background3.png) no-repeat;
    background-position: right center;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .jumbotron-portfolio {
    background-position: right;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .jumbotron-portfolio {
    background-position: right;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .jumbotron-portfolio {
    height: 1100px;
    background-position: right center;
  }
}

@media (min-width: 1200px) {
  .jumbotron-portfolio {
    height: 1250px;
    background-position: right;
    background-size: cover;
  }
}

.jumbotron-contact {
  background: url(../../assets/img/background2.png) no-repeat;
}

.jumbotron-contactlist {
  background: url(../../assets/img/background4.png) no-repeat;
}

@media (max-width: 575.98px) {
  .jumbotron-contactlist {
    border-radius: 0;
    margin-bottom: auto;
    outline: solid;
    outline-color: #1a252f;
    background-position: right;
  }
}

@media (max-width: 575.98px) {
  .jumbotron-contact {
    border-radius: 0;
    margin-bottom: auto;
    outline: solid;
    outline-color: #1a252f;
    background: url(../../assets/img/background2.png) no-repeat;
    background-position: center;
  }
}

@media (max-width: 575.98px) {
  .thisisme {
    height: 77px;
    width: auto;
    margin-top: -60px;
    margin-left: 186px;
    position: absolute;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .jumbotron-contact {
    background-position: center;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .jumbotron-contactlist {
    background-position: center;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .thisisme {
    height: 90px;
    width: auto;
    margin-top: -90px;
    margin-left: 290px;
    position: absolute;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .jumbotron-contact {
    background-position: center;
    height: 840px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .jumbotron-contactlist {
    background-position: center;
    height: 840px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .thisisme {
    height: 100px;
    width: auto;
    margin-top: -100px;
    margin-left: 370px;
    position: absolute;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .jumbotron-contact {
    height: 880px;
    background-position: center;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .thisisme {
    height: 108px;
    width: auto;
    margin-top: -100px;
    margin-left: 415px;
    position: absolute;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .jumbotron-contactlist {
    height: 880px;
    background-position: center;
  }
}

@media (min-width: 1200px) {
  .jumbotron-contact {
    height: 950px;
    background-position: top center;
    background-size: cover;
  }
}

@media (min-width: 1200px) {
  .jumbotron-contactlist {
    height: 950px;
    background-position: top center;
    background-size: cover;
  }
}

@media (min-width: 1200px) {
  .thisisme {
    height: 115px;
    width: auto;
    margin-top: -110px;
    margin-left: 505px;
    position: absolute;
  }
}

