textarea.form-control {
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  background-color: #3C887E;
  border-color: black;
}

.btn-primary.focus, .btn-primary:focus {
  background-color: #3C887E;
  border-color: black;
  box-shadow: 0 0 0 .2rem rgba(0, 0, 0, 0.5);
}

@media (min-width: 1200px) {
  #form-message {
    height: 0px;
  }
}

#contactme {
  margin-bottom: 14px;
  color: rgb(240, 248, 255);
  text-align: center !important;
}

#sendButton {
  color: white;
  background-color: #48A9A6;
  border-color: black;
}

#sendButton:hover {
  color: rgb(196, 196, 196);
  background-color: #3C887E;
  border-color: black;
}

@media (max-width: 575.98px) {
  #form-message {
    height: 225px;
  }
}

@media (max-width: 575.98px) {
  #email-p {
    font-size: 15px;
    margin-top: -19px;
  }
}

#msg-error-message, #name-error-message, #email-error-message {
  margin-bottom: 20px;
  margin-top: -16px;
  font-weight: 700;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #form-message {
    height: 217px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #name-error-message {
    margin-bottom: 20px;
    margin-top: -16px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #email-p {
    font-size: 15.2px;
    margin-top: -10px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #form-message {
    height: 240px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #email-p {
    font-size: 20px;
    margin-top: -10px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #form-message {
    height: 265px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #email-p {
    font-size: 21px;
    margin-top: -10px;
  }
}

@media (min-width: 1200px) {
  #form-message {
    height: 320px;
  }
}

#email-p {
  color: aliceblue;
  font-weight: normal;
  text-align: center!important;
}

@media (min-width: 1200px) {
  #email-p {
    font-size: 24px;
    margin-top: -14px;
  }
}

