.footer-basic {
  padding: 15px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  text-align: center;
  color: #aaa;
}

@media (max-width: 575.98px) {
  #githubicon {
    margin-top: 20px;
  }
}

@media (max-width: 575.98px) {
  #facebookicon {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 575.98px) {
  .footer-basic {
    padding: 0px;
    background-color: white;
  }
}

@media (max-width: 575.98px) {
  .copyright {
    margin-bottom: 0px;
    font-size: 15px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #facebookicon {
    margin-left: 35px;
    margin-right: 35px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .copyright {
    font-size: 17px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #facebookicon {
    margin-left: 45px;
    margin-right: 45px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .copyright {
    font-size: 19px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #facebookicon {
    margin-top: 15px;
    margin-left: 45px;
    margin-right: 45px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .copyright {
    font-size: 19px;
  }
}

@media (min-width: 1200px) {
  #githubicon {
    margin-top: 20px;
  }
}

@media (min-width: 1200px) {
  #facebookicon {
    margin-left: 35px;
    margin-right: 35px;
  }
}

@media (min-width: 1200px) {
  .copyright {
    font-size: 19px;
  }
}

